/*
Name: Troy Garcia
File: footer-style.css
Description: Styling used for the footer will be found here
*/

footer{
margin-top: 2.5vh;
min-height: 7.5vh;
}
h3 {
      color: #ffffff;
      font-size: 2vh;
  }
  .footer-container{
    background: #666666;
    font-family: Arial, Helvetica, sans-serif;
    padding: 2.5vh 0 1vh 0;
    text-align: center;
    border-style: solid;
    border-top-width: 2vh;
    border-top-color:#4aaaa5;
    width: 100%;
  }